<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/roulette.css" rel="stylesheet">
</head>
<body>
    <div class="child">
        <div>
            <input class="form-control" id="inputMenu" type="text"  />
        </div>
        <div class="buttonMenu">
            <button onclick="addMenu();" type="button">추가</button>
        </div>
        <div class="canvas">
            <canvas id="canvas" width="380" height='380'></canvas>
            <button class="buttonRoulettue" onclick="rotate()">룰렛 돌리기</button>
        </div>
    </div>

    <script  src="js/roulette.js"></script>
</body>
</html>